@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Honk&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite GB S", cursive;
    
}

/* Style title */
#page-title {
    text-align: center;
    font-family: "Honk", system-ui;
    font-size: 3.5rem;
}

.subsection-title {
    text-align: center;
    font-family: "Bungee Spice", sans-serif;
    font-size: 2rem;
}

.image-title {
    text-align: center;
}

/* Style cards section */
.choices {
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
}

.player-choices {
    border: 2px solid black;
    width: 500px;
    height: 200px;
}

.computer-choices {
    border: 2px solid black;
    width: 500px;
    height: 200px;
}

.buttons, .images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.player-choice button {
    border: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
}


.computer-choice {
    width: 100px;
    height: 100px;
}
.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Style play section */
.current-round {
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.player-pick, .computer-pick{
    border: 2px solid black;
    width: 400px;
    height: 400px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.versus {
    border: 2px solid black;
    width: 200px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}





/* Style score section */
.score {
    border: 2px solid black;
    width: 600px;
    margin: 0 auto;
}

.points {
    border: 2px solid black;
    width: 600px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2.5rem;
}

/* Style winner section */
.winner {
    border: 2px solid black;
    /* display: flex;
    justify-content: center; */
    width: 600px;
    height: 150px;
    margin: auto;
}

